@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');





:root {
  --background-dark-gray: #333333;
  --background-medium-gray: #737373;
  --background-purple: #633CFF;
  --background-white: #FFFFFF;
  --background-light-gray: #D9D9D9;
  --background-very-light-gray: #FAFAFA;
  --background-light-purple: #EFEBFF;
  --background-red: #FF3939;
  --background-lavender: #BEADFF;
  --background-black: #000000;
  --background-semi-transparent-black: #00000080;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-very-light-gray);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.authpage{
min-height: 100vh;
overflow: auto;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 20px;
}

.mylogo{
  width: 152.5px;
height: 40px;
object-fit: contain;

}

.dashboard {
  overflow-y: auto;
  width: 100%;
  gap: 15px;
  scroll-behavior: smooth;
  transition: .2s;
  padding-inline: 25px;

  display: flex;
  flex-direction: column;
  
height: 100%;
}

.devlinks{
  width: 100%;
}
.container{
  width: 100%;
  height: 100vh;
  padding-inline: 20px;
  padding-block: 10px;
  gap: 20px;
display: flex;
flex-direction: column;
overflow: hidden;
}

.heroflex{
  display: flex;
  gap: 30px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.pagefooter .mybtn {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.purplepatch{
  background-color: #633CFF;
  min-height: 200px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 20px;
  width: 100%;
}
.previews{
  background-color: var(--background-purple);
  color: white !important;
}
.devicespace{
  width: 350px;
  border-radius: 7px;
  min-height: 400px;
  box-shadow: 0px 0px 32px 0px #0000001A;
background-color: white;
margin: auto;
z-index: 999999;
margin-top: -60px;
padding: 30px;
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
}
.previewbox header{
  background-color: transparent;
  position: sticky;
}

.previewbox{

}

.devicespace .socialbox{
  width: 100%;
  padding: 12px;
  margin-block: 4px;
}
.heroflexone{
width: 48%;
background-color: white;
padding: 30px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.heroflextwo{
  width: 100%;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 4px;
  overflow: auto;
  height: auto;
}

.socialblock{
  display: flex;
  overflow: auto;
  height: 100%;
  flex-direction: column;
  gap: 20px;
  padding-inline-end: 10px;
}
.addnewdiv{
  display: flex;
  overflow: auto;
  height: 100%;
  padding: 15px;
  padding-inline: 80px;
  background-color: var(--background-very-light-gray);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
  border-radius: 7px;
}
.pagefooter{
  margin-top: auto;
  border-top: 1px solid var(--background-light-gray);
  padding-block: 10px;
width: 100%;
display: flex;
}

.topnav img{
  height: 32px;
  width: fit-content;
}
.navlinks{
  display: flex;
  gap: 25px;
}
.inputflex{
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  padding-block: 10px;
}

.ppbox{
color: var(--background-medium-gray);
font-family: Instrument Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

  width: 100%;
  padding: 10px;
}

.ppbox small{

  font-family: Instrument Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  
}
.centered{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.placeholder{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.centered img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fileupload{
  width: 100%;
  height: 200px;
  background-color: var(--background-light-purple);
  border-radius: 6px;
color: var(--background-purple);
font-family: Instrument Sans;
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;

}
.miniforminput{
  width: 100%;
}
.inputlabel{
font-family: Instrument Sans;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
width: 30%;
color: var(--background-medium-gray);
}
.navlink{
  padding: 8px;
  border-radius: 5px;
color: var(--background-medium-gray);
font-family: Instrument Sans;
font-size: 15px;
font-weight: 500;
line-height: 20px;
text-align: left;
display: flex;
gap: 7px;
transition: 0.4s ease-in-out;
min-width: 100px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
text-decoration: none;
border: 1px solid transparent
}
.navbtn{
  border: 1px solid #633CFF;
}
.navlinkactive{
  background-color: #EFEBFF;
  color: var(--background-purple);
  border: 1px solid #EFEBFF;
}
.pagefooter .mybtn{
  margin-left: auto;
}

.preview{
  height: 450px;
  /* background-color: red; */
  width: 60%;
  margin: auto;
  background-image: url('/preview-section(1).png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-inline: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previewblock{
  padding: 10px;
  padding-inline: 7px;
  background-color: transparent;
  word-wrap: break-word;
  padding-top: 10px;
  height: 400px;
  overflow: auto;
  font-family: Instrument Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  display:flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.avatar{
  width: 79px;
  height: 79px;
  background-color: var(--background-light-gray);
  border-radius: 50%;
}
.uname{
  width: 80%;
  height: 15px;
  border-radius: 3px;
  background-color: var(--background-light-gray);
}

.uemail{
  width: 50%;
  height: 15px;
  border-radius: 3px;
  background-color: var(--background-light-gray);
  margin-bottom: 12px;
}

.socialbox{
  padding: 8px;
  width: 169px;
  border-radius: 7px;
  background-color: var(--background-light-gray);
font-family: Instrument Sans;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;
color: var(--background-white);
justify-content: space-between;
display: flex;
align-items: center;

}

.github{
  background-color: #1A1A1A;
  color: white;
}

.youtube{
  background-color: #EE3939;
}
.facebook{
  background: #0e369c;

}
.linkedin{
  background: #2D68FF;

}

.frontendmentor{
  background: #2D68FF;
}
.addnewdiv h1{
font-family: Instrument Sans;
font-size: 28px;
font-weight: 700;
line-height: 38px;
text-align: center;
color: var(--background-dark-gray);

}

.addnewdiv p{
margin-top: 8px;
font-family: Instrument Sans;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: center;
color: var(--background-medium-gray);
padding-inline: 60px;
}
.addnewimg{
  width: 100%;
  height: 180px;
  object-fit: contain;
  padding-top: 30px;
}
header{
  background-color: var(--background-very-light-gray);
  border-radius: 0;

  position: sticky;
  width: 100%;
  top: 0;
}

.topnav{
  background-color: var(--background-white);
  border-radius: 12px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
 
}
.authbox{
  padding: 30px;
  width: 450px;
  background-color: var(--background-white);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pagetitle{
font-family: Instrument Sans;
font-size: 26px;
font-weight: 700;
line-height: 35px;
color: var(--background-dark-gray);
text-align: left;


}

.addbtn{
  padding: 9px;
  width: 100%;
  border: 1px solid #633CFF;
font-family: Instrument Sans;
font-size: 15px;
font-weight: 500;
border-radius: 8px;
line-height: 24px;
text-align: center;
color: var(--background-purple);
cursor: pointer;
}


.logincontainer{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.socialblockheader{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3px;
  align-items: center;
}
.socialblockbox{
  background-color: var(--background-very-light-gray);
  padding-block: 13px;
  padding-inline: 18px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.socialheaderend{
font-family: Instrument Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
cursor: pointer;
}
.socialheaderstart{
  display: flex;
  gap: 9px;
  align-items: center;
}
.socialheaderstart{
  font-family: Instrument Sans;
font-size: 16px;
font-weight: 700;
line-height: 18px;
text-align: left;
color: var(--background-medium-gray);
}
.socialblockbox .miniforminputdata{
  background-color: var(--background-white);
}
.miniforminputdata input, select{
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  background-color: transparent;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
font-family: Instrument Sans;
color: var(--background-dark-gray);

}

.mybtn{
  margin-top: 5px;
  padding: 8px;
  border: 1px solid var(--background-purple);
  background-color: #633CFF;
  border-radius: 8px;
font-size: 15px;
font-weight: 500;
line-height: 24px;
text-align: center;
color: var(--background-white);
min-width: 120px;
}

.foottext{
  font-family: Instrument Sans;
font-size: 14.5px;
font-weight: 400;
line-height: 24px;
text-align: center;
color: var(--background-dark-gray);
}
.miniforminput{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.miniforminputdata:focus{
  background-color: red;
}
.miniforminputdata:focus-within {
  /* Focused state styles */
  border-color: var(--background-purple);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  box-shadow: 0px 0px 32px 0px #633CFF40;

}
.mylabel{
font-family: Instrument Sans;
font-size: 13.5px;
font-weight: 400;
line-height: 18px;
text-align: left;
color: var(--background-dark-gray);
margin-bottom: 2px;
}

.sociallabelicon{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sociallabelicon img{
  width: 14px;

}
.sociallinks{
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}
.small{
font-family: Instrument Sans;
font-size: 12.7px;
font-weight: 400;
line-height: 18px;
text-align: left;

}
.miniforminputdata{
  border: 1px solid var(--background-light-gray);
  border-radius: 8px;
  transition: 0.4 ease-in-out;
  display: flex;
  gap: 9px;
  align-items: center;
  padding-inline: 9px;
}
.headingtext{
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 12px;
}
.pagesubtitle{
font-family: Instrument Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: var(--background-medium-gray);
}
.dropdown-container {
  width: 100%;
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
font-family: Instrument Sans;
color: var(--background-dark-gray);
}

.dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid var(--background-light-gray);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.dropdown-arrow {
  margin-left: 10px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  max-height: 180px;
  overflow-y: auto;
  z-index: 1;
}

.dropdown-option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
font-family: Instrument Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;

}
.aic{
  align-items: center;
  display: flex;
}
.dropdown-option:hover {
  background-color: #f0f0f0;
}
@media screen and (max-width:1290px) {
  .previewblock {

    height: 350px;
  }

  .preview {
    height: 503px;
    /* background-color: red; */
    width: 73%;
  }
  
}

@media screen and (max-width:1000px) {
  .heroflexone{
    display: none;
  }
  .heroflextwo {
    width: 100%;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 4px;
    overflow: auto;
    height: auto;
}
}

.loading-spinner {
  border: 2px solid rgba(82, 82, 82, 0.1);
  border-left-color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: loading-spinner-animation 0.75s linear infinite;
}
.loadbtn{
  margin-top: 5px;
    padding: 8px;
    border: 1px solid var(--background-purple);
    background-color: #633CFF;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: var(--background-white);
    min-width: 120px;
    display: flex;
    align-self: center;
    width: 100%;
    justify-self: center;
    justify-content: center;
}
@keyframes loading-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mobile{
  display: none;
}
.loading-spinner {
    border: 2px solid rgba(82, 82, 82, 0.1);
    border-left-color: #fff;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: loading-spinner-animation 0.75s linear infinite;
  }


  @keyframes loading-spinner-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
@media screen and (max-width:750px) {
  .profilephotoflex {
   flex-direction: column;
  }

  .purplepatch{
    background-color: transparent;
  }
  .addnewdiv p {
    margin-top: 8px;
    font-family: Instrument Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--background-medium-gray);
    padding-inline: 0px;
}

  .mobile{display: flex;}
  .navlink{
    min-width: 60px;
  }
  .navlink span, .desktop{
    display: none;
  }
  .navlinks{
    gap: 10px;
  }
.addnewdiv{
  padding-inline: 10px;
}
  .inputflex{
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    padding-block: 1px;
  }
  .authbox {
    padding: 30px;
    width: 93%;
  }
  .socialblockbox {
    background-color: var(--background-very-light-gray);
    padding-block: 13px;
    padding-inline: 9px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socialblock{
  padding-inline-end: 3px;

}
.container {
  width: 100%;
  padding-inline: 10px;
}
.heroflextwo{
  padding-bottom: 0;
  gap: 7px;
}
}

.pname {
  word-break: break-all;
  padding-inline: 10px;
  line-height: normal;
 text-align: center;
  margin-top: 5px;
}